@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      theme-type: light,
    ),
    typography: Roboto,
    density: 0
  ));
}

body {
  font: var(--mat-sys-body-large);
  margin: 0;
  min-height: 100vh;

  --mat-sidenav-container-background-color: white;

  mat-toolbar {
    --mat-toolbar-container-background-color: #4551b9;
    --mat-toolbar-container-text-color: white;
    --mat-icon-button-icon-color: white;
  }
  
}

